.tree-btn-primary {
    background: #f3d527;
    color: #13538a;
}

.tree-btn-secondary {
    background: #45bbef;
    color: #f1f5f9;
}

.tree-btn {
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        filter: saturate(2);
    }
    &:active {
        transform: scale(0.95);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    .btn-icon {
        font-size: 18px;
        font-weight: bold;
    }
}